* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background: #98fafa;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.form input {
    padding: 3px 6px;
    text-align: center;
    border: 1px solid #757575;
}

.form button {
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    background-color: #757575;
    transition: 300ms;
}

.form button:hover {
    background-color: #3f00d1;
    color: #FFF;
}

.cabecalho ul {
    display: flex;
}

.cabecalho img {
    max-width: 100px;
    width: auto;
}

.cabecalho li {
    font-size: 20px;
    list-style: none;
    padding: 20px;
}

.cabecalho li a {
    transition: 300ms;
}

.cabecalho li a:hover {
    color: rgb(172, 15, 15);
}

#filtro {
    background: #E0FFFF;
}

.livro {
    background: #E0FFFF;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.livro div {
    margin: 15px;
}

.livro img {
    max-width: 200px;
}

.camiseta {
    background: #E0FFFF;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.camiseta div {
    margin: 15px;
}

.camiseta img {
    max-width: 200px;
}

.terco {
    background: #E0FFFF;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.terco div {
    margin: 15px;
}

.terco img {
    max-width: 200px;
}

.rodape {
    border-top: 1px solid rgb(65, 65, 65);
    background: #FFF;
    text-align: center;
    padding: 10px;
    list-style: none;
    font-size: 13px;
}

.rodape img {
    max-width: 200px;
    width: auto;    
}