* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background: #5dc3e2;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
}

.form input {
    padding: 3px 6px;
    text-align: center;
    border: 1px solid #757575;
    border-radius: 5px 5px 5px 5px;
}

.form button {
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    background-color: #757575;
    transition: 300ms;
    border-radius: 5px 5px 5px 5px;
}

.form button:hover {
    background-color: #3f00d1;
    color: #FFF;
}

.cabecalho ul {
    display: flex;
    width: 100%;
}

.cabecalho img {
    max-width: 100px;
    width: auto;
}

.cabecalho li {
    font-size: 17px;
    list-style: none;
    padding: 15px;
}

.cabecalho li a {
    transition: 300ms;
}

.cabecalho li a:hover {
    color: rgb(172, 15, 15);
}

.corpo {
    background: #a8ddf1;
    margin: 0 auto;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
}

.corpo div h1 {
    margin: 0 auto;
    padding: 20px;
}

.corpo p {
    max-width: 100%;
    width: auto;
    text-align: justify;
    padding: 7px;
}

.rodape {
    border-top: 1px solid rgb(65, 65, 65);
    background: #FFF;
    text-align: center;
    padding: 10px;
    list-style: none;
    font-size: 13px;
    display: block;
    flex-wrap: wrap;
}

.rodape img {
    max-width: 200px;
    width: auto;    
}